/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/*
*  custom CSS
*/

/******** General ************/
:root {
    --blue: #345e84;
    --light-blue: #d4e2fc;
    --teal: #31728d;
    --light-gray: #eef0f3;
    --black: #000;
    --white: #fff;
  }
.viewport {
    max-width: 1440px;
    margin: auto;
}
body {
    font: 400 18px 'Lato', sans-serif;
    color: var(--black);
}
a {
    color: var(--blue);
}
a:hover, a:focus {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font: 500 3rem 'Roboto', sans-serif;
    color: var(--blue);
    margin-bottom: 1rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
    font-weight: 400;
}
h4 {
    font-size: 1.5rem;
    font-weight: 400;
}
p {
    margin-bottom: 1.2rem;
}
.strong {
    font-weight: bold;
}
main {
    margin-top: -5rem;
}
.center {
    text-align: center;
}
.max-width {
    max-width: 680px;
    margin: auto;
}
.panel {
    padding: 4rem 2rem;
}

/******** Colums ************/
.column {
    padding: 2rem;
    margin: 2rem;
}
.two-columns, .three-columns {
    display: flex;
}
.two-columns {
    align-items: center;
}
.three-columns {
    align-items: stretch;
}
.two-columns {
    justify-content: center;
}
.two-columns .column:last-child {
    flex: 0 0 40%;
}

/******** Header ************/
header {
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
}
.header-wrapper { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0 2rem;
}
.fixed {
    background: var(--white);
    box-shadow: 0 5px 10px 0 var(--light-gray);
}
nav.desktop {
    justify-self: center;
}
.header-wrapper .linkedin {
    justify-self: end;
}
.desktop .main-nav {
    display: flex;
    list-style: none;
}
.desktop .main-nav .menu-item {
    padding: 0 1rem;
    flex-shrink: 0;
}
.desktop .main-nav .menu-item a, .mobile .main-nav .menu-item a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 0.5rem 0;
}
.fixed .desktop .main-nav .menu-item a, .mobile .main-nav .menu-item a {
    color: var(--blue);
}
.mobile .main-nav .menu-item a {
    color: var(--blue);
    display: block;
}
.desktop .main-nav .menu-item a:hover {
    border-bottom: 2px solid var(--white)
}
.mobile .main-nav .menu-item a:hover {
    border-bottom: 2px solid var(--blue)
}
.mobile-menu, .mobile-menu.nav, .mobile-menu.close, .mobile-menu.trigger.hide {
    display: none;
}
.mobile-menu.trigger, .mobile-menu.close {
    justify-self: flex-end;
    grid-column: 3/3;
    position: relative;
}
.mobile-menu.nav {
    position: absolute;
    background: var(--white);
    right: 2rem;
    top: 70%;
    padding: 1.5rem 1.5rem 1rem;
}
.fa-bars:before {
    color: var(--white);
}
.fa-square-xmark:before {
    color: var(--white);
    font-size: 2rem;
}
.logo {
    width: 100%;
    max-width: 150px;
}
.fa-linkedin-in:before {
    color: var(--white);
}
.fixed .fa-linkedin-in:before {
    color: var(--blue);
}
.mobile-menu .fa-linkedin-in:before {
    color: var(--blue);
}
.linkedin span {
    display: none;
}

/******** Mobile Nav ************/
.mobile-menu {
    display: none;
    grid-column: 3;
}
 .mobile-menu nav {
    height: 60px;
    position: relative;
}
.nav-links {
    display: block;
    position: absolute;
    top: 50px;
    right: 2rem;
    width: 125%;
}
.nav-links li {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: all .3s;
}
.nav-links a {
    background: var(--white);
    color: var(--blue);
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 20px;
    text-align: left;
    width: 100%;
    transition: all .3s;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.nav-links a:hover {
    color: var(--white);
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

input[type="checkbox"]:checked + label {
    border: 4px solid var(--white);
    border-radius: 50%;
    height: 28px;
    top: 16px;
    right: 0;
    width: 28px;
    transform: rotate(-135deg);
}
input[type="checkbox"]:checked + label::before {
    background: var(--white);
    top: 12px;
    left: 6px;
    width: 20px;
}
input[type="checkbox"]:checked + label::after {
    background: var(--white);
    opacity: 1;
    top: 12px;
    left: 6px;
    width: 20px;
    visibility: visible;
}
input[type="checkbox"]:checked + label:hover {
    border-color: transparent;
}
input[type="checkbox"]:checked ~ .nav-links::before {
    opacity: 1;
    visibility: visible;
}
input[type="checkbox"]:checked ~ .nav-links li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
label {
  background: none transparent;
  border: 4px solid var(--white);
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 18px;
  position: absolute;
  top: 18px;
  right: 0;
  width: 24px;
  transition: all .2s;
}
label::before {
    background: var(--white);
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 24px;
    transition: all .2s;
}
label::after {
    background: var(--white);
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: rotate(90deg);
    transition: all .2s;
}
.fixed label {
    border: 4px solid var(--blue);
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
}
.fixed label::before, .fixed label::after, .fixed input[type="checkbox"]:checked + label::before, .fixed input[type="checkbox"]:checked + label::after {
    background: var(--blue);
}

/******** Hero ************/
.hero {
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vw;
    position: relative;
}
.overlay {
    background: var(--blue);
    opacity: .5;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.hero-content {
    max-width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
}
.display-title {
    font-size: 4rem;
}
.display-title, .hero-content p {
    color: var(--white);
}
.hero-content p {
    font-weight: 700;
    font-size: 1.25rem;
}

/******** Services ************/
.services .column {
    background: var(--blue);
    color: var(--white);
    flex: 0 0 24.5%;
}
.services .column h3 {
    color: var(--white);
}

/******** About ************/
.about {
    background-image: url(images/about.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}
.about img {
    width: 100%;
    max-width: 400px;
}
.about .content {
    background: var(--white);
 }
 .about .education {
    font-size: .875em;
 }
 .about .education span {
     display: block;
 }

/******** Footer ************/
footer {
    background: var(--blue);
    padding: 2rem;
    color: var(--white);
}
footer .viewport {
    display: flex;
    justify-content: space-between;
}
footer a {
    display: block;
    margin: 0.5rem 0;
    color: var(--white);
    font-size: 1rem;
}
.address span {
    display: block;
    font-size: 1rem;
}
.right {
    align-self: flex-end;
    text-align: right;
}
.copyright {
    font-size: .875rem;
    color: var(--light-gray);
}

/******** Animations ************/
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/******** Media Queries ************/

@media screen and (max-width: 950px) {
    .hero {
        height: 66vw;
    }
    .hero-content {
        max-width: 700px;
        width: 100%;
        top: 55%;
    }
    .display-title {
        font-size: 3rem;
    }
    .column {
        margin: 2rem 1rem;
    }
}
@media screen and (max-width: 850px) {
    .hero {
        background-position: center -10rem;
    }
    .three-columns {
        display: block;
    }
    .two-columns .column {
        margin: 0;
    }
    .two-columns .column:last-child {
        flex: 0 0 45%;
    }
}
@media screen and (max-width: 768px) {
    .two-columns {
        display: block;
    }
    .about img {
        max-width: 300px;
        margin: auto;
        display: block;
    }
}
@media screen and (max-width: 650px) {
    .mobile-menu {
        display: block;
    }
    nav.desktop, .desktop.linkedin {
        display: none;
    }
    .hero {
        height: 75vh;
    }
    .hero-content {
        max-width: 500px;
    }
    .display-title {
        font-size: 2rem;
    }
}
@media screen and (max-width: 500px) {
    .hero-content {
        max-width: 300px;
    }
    footer .viewport {
        display: block;
        text-align: center;
    }
    .right {
        text-align: center;
        margin-top: 3rem;
    }
}