/*===[TOOLS] ========================================================================================*/
/*---Variables------*/
@import '../partials/variables.css';

/*===[GENERIC] ========================================================================================*/

/*===[BASE] ========================================================================================*/
/*---Standard Classes------*/
.Desktop-Only {
    display: none !important;
}
/*---Layout------*/
.TwoColumn, .ThreeColumn, .FourColumn, .Field-Group {
    flex-direction: column;
}

.Column, .Field-Group .Field, .Inline-Search .Form-Wrapper {
    flex: 0 0 auto;
}

.Nav-Body > .Column.One, .Nav-Body-Related > .Column.One {
    order: 2;
}

/*===[COMPONENTS] =======================================================================================*/
/*---Navigation------*/
.Navigation {
    position: absolute;
    z-index: 999;
    top: 42px;
    left: 0;
    display: none;
    width: 100%;
    padding: 1rem;
    background: #f2f2f2;

    &.Expanded {
        display: block;
    }
    .Nav {
        width: 100%;
        margin: 0;
    }
    .Nav-Item {
        display: block;
        margin: 0 auto;

        &:after {
            margin: 0;
            content: none;
        }
    }
    .Nav-Link {
        position: relative;
        display: block;
        padding: 1rem;
        color: #000;
    }
}

/*---Header-Footer------*/
.Header {
    padding: 1rem;
    background: rgba(255,255,255,.7);
}
.Logo {
    width: 150px;
    height: 45px;
    margin-right: 0;
}
.Mobile-Options {
    position: absolute;
    top: 0;
    right: 0;
}

/* Header Buttons */
.Header-Button {
    font: 0/0 a;
    line-height: 44px;
    position: relative;
    display: inline-block;
    width: 49px;
    height: 43px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 0;
    outline: none;
    background: 0;

    span {
        display: block;
        width: 26px;
        height: 26px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &.Expanded {
        background: #f2f2f2;

        span {
            width: 18px;
            height: 18px;
        }
    }
}

.Header-Image {
    height: 75vw;
}
.Hero-Content {
    max-width: 90%;
    margin: auto;
}

/*Footer*/
.Footer {
    text-align: center;

    .Nav-Item {
        margin-bottom: 1em;
    }
}

/*---Buttons------*/
.Button:before {
    content: none;
    background: none;
}

/*---Listings------*/
.Listing-Image {
    width: 100%;
    margin-bottom: 1em;
}

/*---Forms------*/
.Form {
    max-width:90%;
    margin: auto;
}

/*---Homepage------*/
.Panel {
    .Column.Image {
        order: -1;
    }
    &.One {
        max-width: 90%;
        .Column {
            margin: 0 2em;
            &:not(:last-child) {
                border-bottom: 1px solid #513D8A;
            }
        }
    }
    img {
        height:100%;
    }
    &.Six,&.Two {
        padding-bottom: 5em;
    }
}
.SalesPitch {
    padding-top: 5em;
}
/*===[TRUMPS] =======================================================================================*/
