/*===[TOOLS] ========================================================================================*/
/*---Fonts------*/
@import '../partials/fonts.css';

/*---Variables------*/
@import '../partials/variables.css';

/*===[GENERIC] ========================================================================================*/
/*---Resets & Normalize------*/
@import '../partials/resets.css';

/*===[BASE] ========================================================================================*/
/*---Typography------*/
@import '../partials/typography.css';

/*---Standard Classes------*/
.Clear {
    zoom: 1;

    &:before, &:after {
        display: table;
        content: '';
    }
    &:after {
        clear: both;
    }
}

.Hide {
    display: none;
}
.Show {
    display: block;
}
.Disabled {
    opacity: .4;
}

/*---Layout------*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Content {
    flex: 1 0 auto;
}
.Home .Content {
    margin-top: -150px;
}
.Header, .Footer {
    flex: none;
}
.Viewport, .ScrollGallery-Content, .Alert-Viewport {
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;
}

div > .Column {
    margin: .5rem;
    padding: 1rem;
}

.TwoColumn, .ThreeColumn, .FourColumn, .Field-Group, .Inline-Filter, .Inline-Search {
    display: flex;
    margin: 0 -.5rem;
}
.Column, .Field-Group .Field, .Inline-Filter .SelectBox, .Inline-Search .Form-Wrapper {
    margin: 1rem 0;

    flex: 1 1 auto;
}
.Body-Related, .Form-Body, .Nav-Body, .Nav-Body-Related {
    margin: 0 -1rem;

    > .Column {
        margin: 2rem 1rem;
        padding: 0;
        background: none;
    }
}

/*===[COMPONENTS] =======================================================================================*/
/*---Navigation------*/
.Nav, .Nav-Item {
    margin: 0;
    padding: 0;
    list-style: none;
}
.Nav-Item {
    display: inline-block;
}
.Nav-Link {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #fff;

    &:hover {
        transition: .3s;
        text-decoration: underline;
        color: #ccc;
    }
    .Active & {
        color: #fc0;
    }
}


.Local-Nav {
    margin: 0 0 1rem 0;
    background: #1a1a1a;

    .Nav-Header {
        font-size: 1.1em;
        font-weight: 500;
        text-transform: uppercase;
    }
    .Nav-Item {
        display: block;
    }
    .Nav-Link {
        padding: 1rem;
        border-bottom: 1px solid #fff;

        &:hover {
            text-decoration: none;
            color: #fff;
            background: #333;
        }
    }
    .Active .Nav-Link {
        font-weight: 600;
        color: #000;
        background: #fc0;
    }
}

/*---Header-Footer------*/
/* Header */
.Header, .Footer {
    padding: 1rem 0;
    color: #9B9B9B;
    background: #fff;
}
.Footer {
    text-align: center;
}
.Logo {
    display: block;
    width: 300px;

    img {
        position: relative;
    }
}
.Header-Search {
    position: absolute;
    top: 0;
    right: 0;
}

.Header-Image {
    height: 33vw;
    background-size: cover;
}

/* Footer */
.Footer {
    padding-bottom: 0;
}
.Credits {
    font-size: .8em;

    a {
        font-weight: 500;
        display: inline-block;
        text-decoration: none;
        color: #666;

        &:hover {
            color: #fff;

            .Fused {
                transition: .3s;
                color: #fc0;
            }
        }
    }
}

/*---Buttons------*/
button, .Button, .Download {
    font-weight: bold;
    display: block;
    margin: 1rem 0;
    padding: 2px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    color: #4A4A4A;
    border: 0;
    border: none;
    background: #fff;
    border-radius: 20px;
    width:150px;
    margin: 1em auto;
    padding: .8125em 1.625em;

    &:hover {
        color: #4A4A4A;
        background: #EBBC0F;
    }
}

/*---Listings------*/
.Listing, .Listing-Item {
    margin: 0;
    padding: 0;
    list-style: none;
}
.Listing {
    &-Item {
        margin-bottom: .5rem;
        padding: 1rem;
        background: #f2f2f2;
    }
    &-Info {
        position: relative;
    }
    &-Title {
        display: block;
        text-decoration: none;
    }
    &-Thumbnail {
        display: block;
    }
}

/* Related */
.Content-Related {
    padding: 1rem;
    background: #f2f2f2;
}
.Related-Types {
    margin-top: 1rem;

    .Listing-Item {
        padding: 0;
    }
}
.Content-Nav .Filter-Wrapper, .Promo {
    margin-bottom: 1rem;
    padding: 1rem;
    background: #f2f2f2;
}


/*---Forms------*/
label {
    display: block;
    margin-bottom: 4px;
    text-align: left;
}
.Input, .Select {
    width: 100%;
    padding: 9px 10px;
    border: 1px solid #FFFFFF;
    background: transparent;
    &:hover,&:focus {
        background:#fff;
        outline: none;
    }
}
.Select {
    padding: 8px 10px;
}
.Field {
    margin: 0 auto 1rem;
    max-width: 360px;

}

/* Inline Form */
.Inline-Form, .Inline-Search .Form {
    .Button {
        font: 0/0 a;
        position: absolute;
        top: 3px;
        right: 2px;
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
        text-align: center;
        border: 0;
        outline: none;
        background: 0;
    }
    .Button-Text {
        display: block;
        width: 15px;
        height: 16px;
        margin: 0 auto;
        background-size: cover;
    }
}

.Inline-Form .Input {
    padding-right: 1.85rem;
}

/* Remove IE remove text (generally is in same spot as search button) */
.Inline-Form .Input::-ms-clear {
    display: none;
}


/*---Content-------*/
.Section {
    margin: 2rem 0;
}

.Content-Body > .Page-Title {
    margin-top: 2rem;
}

/* Properties*/
.Property {
    display: block;

    .Address & {
        display: inline-block;
    }
}

.Date {
    font-size: .9em;
}

/* WYSIWYG */
.Body {
    margin: 0 0 1.5em;

    p {
        margin-top: 0;
        padding-top: 0;
    }
    ul {
        margin-left: 1em;
        padding-left: 1em;
        list-style: disc outside none;
    }
    img {
        max-width: 100%;
    }
}

.Content-Header {
    background: linear-gradient(0deg, rgba(144,90,150,0) 0%, #2C2F5A 100%);
    text-align:center;
    height:1024px;
    padding: 10em 0;
}
.Hero-Image {
    width:412px;
    height:auto;
}


/* Homepage */
.Panel {
    .Viewport:not(.Features) {
        max-width: 980px;
        margin:0 auto;
    }
    &.One {
        max-width: 95%;
        margin: 0 auto;
        text-align: center;
        background: #6E72A9;
        .Column {
            padding: 2em!important;
        }
    }
    &.Two {
        background: #fff;
        color: #4a4a4a;
        text-align: center;
        h2 {
            color: #634AAB ;
        }
        p {
            max-width: 655px;
            margin: 0 auto;
        }
    }
    &.Six {
        background: #6E72A9;
        text-align: center;
    }
    .Column.Image {
        text-align:center;
    }
}
.SalesPitch {
    background: linear-gradient(180deg, #6E72A9 0%, #59396A 100%);
}

/* Submitted */
.Submitted .Content {
    background: linear-gradient(0deg,rgba(144,90,150,0),#2c2f5a);
    padding: 10em 0;
    text-align: center;
    p {
        max-width: 655px;
        margin: 0 auto;
    }
}
/*===[TRUMPS] =======================================================================================*/
