body {
    font: 300 16px/1.5 'ITC Franklin Gothic LT Pro',sans-serif;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font: 500 3.4375em/1.5 'ITC Franklin Gothic LT Pro', sans-serif;
    font-stretch: condensed;
    margin: 0 0 .5em;
    color: #fff;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2.25em;
}
h4 {
    font-size: 2em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.2em;
}

b, strong {
    font-weight: bold;
}

/*Links*/
a {
    text-decoration: underline;
    color: #634AAB;

    &:hover {
        text-decoration: none;
    }
}

/*Forms*/
label, .Input, .Select {
    font: 300 1.25em/1.5 'ITC Franklin Gothic LT Pro',sans-serif;
    font-stretch: condensed;
}
.Input, .Select {
    color:#fff;
    &:hover,&:focus {
        color: #4a4a4a;
    }
}
/*Input placeholders*/
input, textarea {
    &:-moz-placeholder, &::-webkit-input-placeholder {
        color: #666;
    }
}


.Fancy-Text {
    font: normal 1.5em/1.5 'Laser STD', cursive;
    text-shadow: 0 2px 7px rgba(0,0,0,0.5);
    color: #75DEE3;
}

@media screen and (max-width: 767px) {
    .Fancy-Text {
        font-size: 1.7em;
    }
}
