<nav class="Main-Nav">
	<ul id="nav">
	  <li><a href="/headlessAPI/index.html">{{link_one}}</a></li>
	  <li><a href="/headlessAPI/blog.html">{{link_two}}</a></li>
	  <li><a href="/headlessAPI/news.html">{{link_three}}</a></li>
	</ul>
</nav>