
@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu');

* {
	margin: 0;
}
body {
	background: #000;
	color:#fff;
	font-family: 'Raleway', sans-serif;
}
nav ul {
	text-align: right;
}
nav ul li{
	display: inline;
	padding: 0 2em;
	font-family: 'Ubuntu', sans-serif;
}
a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
a:hover{
	color: #d3d3d3;
	text-decoration: underline;
}
h1 {
	color: #ffd200;
	font-size: 3em;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif;
}
h2 {
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	padding:1em;
}
footer {
	padding:1em 0;
	border-top:solid 1px #3d3d3d;
	clear:both;
}
.Hero-Image {
	background: center no-repeat url('../images/hero.jpg');
	height: 600px;
}
.Logo {
	width: 200px;
	margin: 8px;
}
.Header-Detail {
	padding: 50px;
	text-align: center;
}
.Service-Image {
	width:100px;
}
.Panel {
	text-align:center;
	margin: 5em 3em;
	clear:both;
}
.Panel.One {
	margin-top: 0;
}
.Panel.Two .Column {
	width: 23.5%;
	float:left;
	margin:8px;
}
.Panel.Three .Column {
	float:left;
	width:33%;
}
#slogan {
	font-style: italic;
	font-size:36px;
	font-weight: 500;
}