body {
    font: normal 16px/1.5 'Helvetica Neue', sans-serif;
    color: $whitebackgroundtext;
}
h1, h2, h3, h4, h5, h6 {
    font: 400 2.25em/2.6875 'Helvetica Neue', sans-serif;
    margin: 0 0 .5em;
    color: $black;
}
h2 {
    font-size: 1.875em;
    font-weight: bold;
    line-height: 2.3125;
    color: $orange;
}
h3 {
    font-size: 1.25em;
    line-height: 1.75;
    font-weight: bold;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.125em;
    font-weight: bold;
}
h6 {
    font-size: 1.1em;
}

b, strong {
    font-weight: bold;
}

.Listing-Title {
    font-size: 1.5em;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: $black;
}

/*Links*/
a {
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    color: $orange;

    &:hover {
        text-decoration: none;
    }
}

/*Input placeholders*/
input, textarea {
    &:-moz-placeholder, &::-webkit-input-placeholder {
        color: $whitebackgroundtext;
    }
}
