$white: #ffffff;
$lightgrey: #c9c9c9;
$orange: #ff8820;
$black: #000000;
$greybutton: #3d3d3d;
$whitebutton: #f4f4f4;
$graybackground: #2d2d2d;
$darkbackgroundtext: #c8c8c8;
$graybackgroundtext: #4a4a4a;
$whitebackgroundtext: #666666;
$footerlink: #4a4a4a;