
@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu');

* {
	margin: 0;
} 
body {
	background: #000;
	color:#fff;
	font-family: 'Raleway', sans-serif;
}
nav {
	padding: 1%;
}
nav ul {
	text-align: right;
}
nav ul li{
	display: inline;
	padding: 0 2em;
	font-family: 'Ubuntu', sans-serif;
}
a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
a:hover{
	color: #d3d3d3;
	text-decoration: underline;
}
h1 {
	color: #ffd200;
	font-size: 3em;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif;
}
h2 {
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	padding:1em;
}
footer {
	border-top: .1em solid #ddd;
	clear: both;
	margin: 1em 0;
}
div, section {
	text-align: center;
	margin: 0 auto;
}
.Header-Detail {
	background: center no-repeat url('../images/hero.jpg');
	height: 45vw;
}
.Service-Image {
	max-width:40%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.FourColumn, .ThreeColumn {
	display: inline-flex;
}
#panel1 {
	width: 80%;
}
#panel2 .Column {
	float: left;
	flex: 1 1 22%;
	padding: 2%
}
#panel3 .Column {
	float: left;
	flex: 1 1 25%;
}
#panel3 .Column img {
	width: 80%;
}
#slogan {
	font-style: italic;
	font-size:2.5em;
	font-weight: 500;
}

#left {
	padding: 1%;
    float: left;
    width: 15%;
}

#right {
    float: right;   
	width: 75%;
	line-height: 4em;
}

@media only screen and (max-width:990px) {
	.FourColumn,.ThreeColumn { 
		flex-wrap: wrap;
		float:none;
	}
	#panel2 .Column {
		flex: 1 1 45%;
	}
}
@media only screen and (max-width:750px) {
	nav ul li{
		list-style:none;
		display: block;
		text-align:center;
		margin: 0 0 0 5em;
	}
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.5em;
	}
	.Footer-Nav li {
		margin: 0 3em 0 0;
	} 
	#panel2 .Column, #panel3 .Column {
		flex: 1 1 100%;
	}
	#left {
		float: none;
		width: 30%;
	}
	#right {
		float: none;   
		line-height: 2em;
	}
}