*,
:after,
:before {
    box-sizing: border-box
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased
}

body,
html {
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
form,
header,
hgroup,
nav,
section {
    display: block;
    margin: 0;
    padding: 0
}

[hidden],
template {
    display: none
}

.Button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    cursor: pointer
}

input[type=search] {
    box-sizing: content-box
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button,
input,
label,
select {
    cursor: pointer
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

button,
input {
    line-height: normal
}

textarea {
    overflow: auto;
    max-width:100%;
    min-height: 100px;
    vertical-align: top
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}

td {
    vertical-align: top
}

td,
th {
    text-align: left
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0
}

form {
    position: relative
}

iframe {
    display: block;
    max-width: 100%
}

address {
    font-style: normal
}

body {
    font: 400 16px/1.438 sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height: 23px;
    color:#2D3958
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 900 2.25em/1.3 sans-serif;
    margin: 0 0 .5em;
    color: #0091FF
}

h2 {
    font-size: 1.6em
}

h3 {
    font-size: 1.125em
}

h4 {
    font-size: 1.1em
}

h5 {
    font-size: 1.1em
}

h6 {
    font-size: 1.1em
}

.Page-Title {
    font-size: 1.75em
}
b,
strong {
    font-weight: 900
}

a {
    text-decoration: underline;
    color: #2D3958
}

a:hover {
    text-decoration: none
}

input:-moz-placeholder,
input::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-webkit-input-placeholder {
    color: #666
}

.Clear {
    zoom: 1
}

.Clear:after,
.Clear:before {
    display: table;
    content: ""
}

.Clear:after {
    clear: both
}

.Hide {
    display: none
}

.Show {
    display: block
}

.Disabled {
    opacity: .4
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh
}

.Content {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.Footer,
.Header {
    -ms-flex: none;
    flex: none
}

.Alert-Viewport,
.ScrollGallery-Content,
.Viewport {
    position: relative;
    margin: 0 auto;
    padding: 0 2rem
}

div>.Column {
    margin: .5rem;
    padding: 1rem;
    background:none;
}

.Field-Group,
.FourColumn,
.Inline-Filter,
.Inline-Search,
.ThreeColumn,
.TwoColumn {
    display: -ms-flexbox;
    display: flex;
    margin: 0
}

.Column,
.Field-Group .Field,
.Inline-Filter .SelectBox,
.Inline-Search .Form-Wrapper {
    margin: 1rem 0;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.Body-Related,
.Form-Body,
.Nav-Body,
.Nav-Body-Related {
    margin: 0
}

.Body-Related>.Column,
.Form-Body>.Column,
.Nav-Body-Related>.Column,
.Nav-Body>.Column {
    margin: 0 1rem!important;
    padding: 0;
    background: none
}
.Homepage .Content .Viewport {
    padding:0;
    max-width:none
}

.Homepage .Content-Body>.TwoColumn {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2em
}

.Homepage .Listing.Blog {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2em;
}

.Content-Header .Header-Image img {
    height: 100%;
    width: 100vw;
}

.Homepage .Content-Header {
    margin-top: -85px;
}

.Homepage .Header-Image-Text {
    position: relative;
    left: 2rem;
    bottom: 13rem;
    max-width:800px;
}

.Header-Text h1.Page-Title {
    font-size: 2em;
    font-weight:400;
    color:#2D3958;
}
.Hero-Caption {
    background: #0091ff;
    color: #fff;
    padding: .2em;
}

.Header {
    color: #353E40;
    background: none;
    z-index:100
}

.Header .Logo,
.Header .Viewport {
    display: -ms-flexbox;
    display:flex
}
.Header .Logo {
    -ms-flex: 0 0 235px;
    flex-grow: 1;
    max-width:235px
}

.Header .Navigation {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.Header .Main-Nav {
    display: -ms-flexbox;
    display:flex;
    font-size:18px;
    -ms-flex-pack: justify;
    justify-content:space-between;
    max-width:288px;
    margin: 0 4rem;
}
.Header .Main-Nav .Nav-Item .Nav-Link {
    color: #353E40;
}

.Header-Image {
    height: 33vh;
    background-size:cover
}
.Nav,
.Nav-Item {
    margin: 0;
    padding: 0;
    list-style: none
}

.Nav-Item {
    display: inline-block;
    padding: 1rem 0;
    position: relative
}

.Nav-Link {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #fff
}

.Active .Nav-Link {
    color: #fc0
}

.Nav-Link:hover {
    transition: .3s;
    text-decoration: underline;
    color: #ccc
}

.Horizontal-Nav {
    background: #0091FF;
    font-size: 15px;
    font-weight: 400;
    padding: 1rem
}

.Horizontal-Nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin: 0!important
}

.Horizontal-Nav li,
.Horizontal-Nav ul {
    padding: 0!important
}

.Horizontal-Nav li {
    margin: 0 1.5rem;
    text-align: center;
    text-indent: 0!important
}

.Horizontal-Nav li:before {
    display: none!important
}

.Horizontal-Nav a {
    color: #ffffff
    text-decoration:underline
}

.Horizontal-Nav a:hover {
    text-decoration:none
}

.Footer {
    padding: 1rem 0;
    color: #fff;
    background: #1F262B
}

.Logo {
    display: block;
    width: 300px
}

.Logo img {
    position: relative
}

.Header-Image {
    height: 33vw;
    background-size: cover
}

.Header .Contact,
.Footer .Contact {
    font: .8em/.95em 'Roboto',sans-serif;
}
.Header .Contact span,
.Footer .Contact span {
    display:block;
}
.Header .Contact a,
.Footer .Contact a {
    color:#353E40;
}

.Footer {
    padding-bottom: 2rem
}

.Credits {
    font-size: .8em
}

.Credits a {
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    color: #666
}

.Credits a:hover {
    color: #fff
}

.Credits a:hover .Fused {
    transition: .3s;
    color: #fc0
}

.Alert {
    padding: 1rem 2rem;
    color: #fff;
    border-bottom: 2px solid #9d001f;
    background: #c40027
}

.Alert p {
    margin: 0
}

.Alert-Title {
    font-size: 1.2em;
    font-weight: 600
}

.Alert-Close {
    font: 0/0 a;
    position: absolute;
    right: 0;
    width: 15px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    background: url(/assets/images/icons/close.svg?v15b67c161c3) no-repeat;
    background-size: 15px
}

.Button,
.Download {
    font-weight: 700;
    display: inline-block;
    margin: 1rem 0;
    padding: 2px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: 0;
    border: 2px solid #000;
    background: none
}

.Button:hover,
.Download:hover {
    transition: .3s;
    color: #fff;
    background: #000
}

.Listing,
.Listing-Item {
    margin: 0;
    padding: 0;
    list-style: none
}

.Listing-Item {
    margin-bottom: .5rem;
    padding: 1rem;
    background:none;
}

.Listing-Info {
    position: relative
}

.Listing-Title {
    text-decoration: none
}

.Listing.Blog .Listing-Title {
    color: #0091FF;
    font-weight: 700;
    font-size: 1.1em;
}

.Listing-Thumbnail,
.Listing-Title {
    display: block
}

.Recent-Blog {
    background: #F4F6F5;
}
.Recent-Blog a {
    font-size: .9em;
    color: #353E40;
}

.Recent-Blog .Page-Subtitle {
    font: 2em/1.1 'Roboto',sans-serif;
    color: #2D3958;
    text-align:center;
    padding-top:1em;
    margin:0;
}

.Recent-Blog .View-All {
    display: block;
    text-align: center;
    text-transform: lowercase;
}

.Content-Related {
    padding: 1rem;
    background: #f2f2f2
}

.Related-Types {
    margin-top: 1rem
}

.Related-Types .Listing-Item {
    padding: 0
}

.Content-Nav .Filter-Wrapper,
.Promo {
    margin-bottom: 1rem;
    padding: 1rem;
    background: #f2f2f2
}

.Pagination a {
    position: relative;
    text-decoration: none
}

.Pagination .PageNumber {
    margin-right: 5px
}

.Pagination .Range-Values {
    font-weight: 700
}

.Pagination .Range-Text {
    font-weight: 400
}

.Pagination .Selected {
    font-weight: 700
}

.Pagination.Top {
    margin-bottom: 1rem
}

.Pagination.Bottom {
    margin-top: 1rem
}

label {
    display: block;
    margin-bottom: 4px
}

.Input,
.Select {
    width: 100%;
    padding: 9px 10px;
    border: 1px solid #dbdbdb
}

.Select {
    padding: 8px 10px
}

.Field {
    margin: 0 0 1rem
}

.Inline-Form .Button,
.Inline-Search .Form .Button {
    font: 0/0 a;
    position: absolute;
    top: 3px;
    right: 2px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0;
    outline: none;
    background: 0
}

.Inline-Form .Button-Text,
.Inline-Search .Form .Button-Text {
    display: block;
    width: 15px;
    height: 16px;
    margin: 0 auto;
    background: url(/assets/images/icons/search.svg?v15b67c161c5) no-repeat 50%;
    background-size: cover
}

.Inline-Form .Input {
    padding-right: 1.85rem
}

.Inline-Form .Input::-ms-clear {
    display: none
}

.Inline-Filter {
    margin: 0
}

.Inline-Filter .SelectBox {
    margin: 0 1rem 0 0
}

.Search-Filter {
    margin: 0 0 1rem
}

.Search-Filter .Inline-Search {
    margin: 0
}

.Search-Filter .Inline-Search .Title {
    display: none
}

.Search-Filter .Inline-Search .Form-Wrapper {
    margin: 0
}

.Search-Filter .Inline-Search .Close {
    font: 0/0 a;
    width: 34px;
    height: 34px;
    border: 0;
    outline: none;
    background: url(/assets/images/icons/close.svg?v15b67c161c3) no-repeat 50%;
    background-size: cover
}

.Tag-Item {
    display: inline
}

.Tag-List.Clear:before,
.Tag-List:after {
    display: inline;
    clear: none
}

.Tag-Delimiter,
.Tag-Link,
.Tag-List,
.Tag-List .Listing-Link {
    display: inline-block
}

.Section {
    margin: 2rem 0
}

.Content-Body>.Page-Title {
    margin-top: 2rem
}

.Property {
    display: block
}

.Address .Property {
    display: inline-block
}

.Date {
    font-size: .9em
}

.Body {
    margin: 0 0 1.5em
}

.Body p {
    margin-top: 0;
    padding-top: 0
}

.Body p:last-child {
    margin: 0
}

.Body ul {
    margin-left: 1em;
    padding-left: 1em;
    list-style: disc outside none
}

.Body img {
    max-width: 100%
}

.ShareThis {
    min-height: 38px;
    margin: 1rem 0
}

.st-btn {
    display: inline-block!important
}

.ScrollGallery,
.ScrollGallery-Item {
    height: 33vw
}

.ScrollGallery {
    position: relative;
    overflow: hidden;
    background: #fff
}

.ScrollGallery-Item {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover
}

.ScrollGallery-Item .Viewport {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%
}

.ScrollGallery-Viewport {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .8rem 5rem;
    text-align: left;
    color: #fff;
    background: rgba(0, 0, 0, .7)
}

.ScrollGallery-Title {
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1;
    display: block;
    margin: 0 0 .5em
}

.ScrollGallery-Link {
    font-weight: 700;
    display: inline-block;
    margin: 1rem 0;
    padding: 2px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border: 2px solid #fff;
    background: none
}

.ScrollGallery-Caption {
    margin: 0
}

.slick-slide,
.slick-slide img,
.slick-slider .slick-list,
.slick-track {
    transform: translateZ(0)
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent
}

.slick-list,
.slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    zoom: 1
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.ScrollGallery-Thumbnail,
.slick-slide img {
    display: inline-block;
    width: 100%
}

.slick-slide {
    display: none;
    float: left;
    min-height: 1px;
    text-align: center
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-next,
.slick-prev {
    font: 0/0 a;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 56px;
    height: 60px;
    margin-top: -30px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent
}

.slick-next:focus,
.slick-prev:focus {
    outline: none
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-prev {
    left: 0
}

.slick-next {
    right: 0;
    background-position: -44px 0
}

.slick-dots,
.slick-dots li {
    margin: 0;
    padding: 0;
    list-style: none
}

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 56px;
    height: 38px
}

.slick-dots button,
.slick-dots li {
    display: inline-block
}

.slick-dots button {
    font: 0/0 a;
    width: 16px;
    height: 16px;
    margin: 0 2px;
    padding: 3px 5px;
    border: 0;
    border-radius: 8px;
    outline: none;
    background: #ccc
}

.slick-dots .slick-active button {
    cursor: default;
    background-color: #fff
}

.Gallery,
.SlideshowGallery {
    position: relative
}

.Gallery .Next,
.Gallery .Prev {
    position: absolute;
    bottom: 46px;
    left: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none
}

.Gallery .Next.Disabled,
.Gallery .Prev.Disabled {
    cursor: default;
    opacity: .1
}

.Gallery .Next {
    right: 5px;
    left: auto
}

.Gallery .Panel {
    padding: 14px 5px;
    border: none
}

.Gallery-Stage {
    line-height: 470px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 473px;
    margin: 0 auto 5px;
    text-align: center
}

.Gallery-Stage .Loading {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: #fff
}

.Gallery-Thumbnails {
    position: relative;
    overflow: hidden;
    width: 85%;
    height: 89px;
    margin: 0 auto
}

.Gallery-Thumbnail {
    max-height: 89px;
    opacity: .7
}

.Gallery-Listing {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2000em;
    padding: 6px
}

.Gallery-Item,
.Gallery-List {
    margin: 0;
    list-style: none
}

.Gallery-Item {
    float: left;
    margin: 0 4px;
    padding: 0;
    cursor: pointer
}

.Gallery-Item:first-child {
    margin-left: 0
}

.Gallery-Item:last-child {
    margin-right: 0
}

.Gallery-Item.Active .Gallery-Thumbnail {
    opacity: 1
}

.Gallery-Image {
    max-height: 400px
}

.SlideshowGallery {
    margin: 1em 0
}

.SlideshowGallery .Gallery-Control {
    font: 0/0 a;
    position: absolute;
    bottom: 26px;
    left: 0;
    width: 27px;
    height: 27px;
    cursor: pointer;
    background: url(/assets/images/icons/chevron-left.svg?v15b67c161c1) no-repeat 0
}

.SlideshowGallery .Gallery-Control.Next {
    right: 0;
    left: auto;
    background-image: url(/assets/images/icons/chevron-right.svg?v15b67c161c2);
    background-position: 100%
}

.SlideshowGallery .Gallery-Control.Disabled {
    opacity: .3
}

.SlideshowGallery-Content {
    line-height: 1.1;
    position: absolute;
    z-index: 51;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: left;
    color: #fff;
    background: rgba(0, 0, 0, .8)
}

.SlideshowGallery-Content p {
    margin: 0;
    color: #fff
}

.SlideshowGallery-Content-Title {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: .2em
}

.Gallery-Control,
.Gallery-Image,
.Gallery-Listing,
.Gallery-Stage,
.Gallery-Thumbnails,
.SlideshowGallery {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none
}

.Gallery-Stage {
    line-height: 403px;
    height: 403px
}