
@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu');

* {
	margin: 0;
} 
header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
}
body {
	background: #000;
	color:#fff;
	font-family: 'Raleway', sans-serif;
}

nav {
	background-color: #e8c66a;
	border: 1px black solid;
	padding: 20px;
}
nav ul {
	text-align: right;
}
nav ul li{
	display: inline;
	padding: 0 2em;
	font-family: 'Ubuntu', sans-serif;
}
a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
a:hover{
	color: #d3d3d3;
	text-decoration: underline;
}
h1 {
	color: #ffd200;
	font-size: 3em;
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif;
}
h2 {
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	padding:1em;
}
footer {
	background-color: #ff957e;
	border: 1px black solid;
	padding: 20px;
}
div, section {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
}

.Logo {
	width: 200px;
	margin: 8px;
}
.Header-Detail {
	background: center no-repeat url('../images/hero.jpg');
	height: 600px;
}
.Service-Image {
	width:100px;
}
.Panel.One {
	width: 800px;
}
.Panel.Two .Column {
	width: 300px;
}
.Panel.Three .Column {
	width: 400px;
}
#slogan {
	font-style: italic;
	font-size:36px;
	font-weight: 500;
}